.App {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: auto;
  width: 400px;
  height: 200px;
}

@media (max-width: 415px) {
  .logo {
    margin: auto;
    width: 300px;
    height: auto;
  }
}

.searchBar {
  display: inline-block;
  padding: 20px;
}
