p {
  text-align: center;
}

.imageContainer {
  /* display: flex; */
  padding: 20px;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
}

.nasaImage {
  border-radius: 8px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  width: 305px;
  height: auto;
}

@media (max-width: 415px) {
  .nasaImage {
    text-align: center;
    width: 268px;
  }
}

@media (max-width: 325px) {
  .nasaImage {
    text-align: center;
    width: 215px;
  }
}
